<!DOCTYPE html>

<html lang = 'en'>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel = 'stylesheet' href = 'main.css'>
  </head>

  <body>
    <div class = 'container'>
      <div class = 'jumbotron'>
        <h1>Welcome to the Task Manager</h1>
      </div>

      <ul>
        <div class = 'col-md-4'>
          <li class = 'main-link'><h1><a href="/tasks">Task Index</a></h1></li>
        </div>
        <div class = 'col-md-4'>
          <li class = 'main-link'><h1><a href="/tasks/new">New Task</a></h1></li>
        </div>
      </ul>
    </div>
  </body>

</html>
